body {
    background-color: #f0e6f6;
    border: #340236 solid 3px;
    width: auto;
    height: auto;
    padding: 50px;
    margin: 20px;
}


h1, h2, h3 {
    color: #3b6898;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}


p {
    color: #6a196d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    color: #812240;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    display: block;
    margin-bottom: 20px;
}
a {
    color: #340236;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}